<partial name="/Views/Partials/FullScreenComponents/Navbars/_TopNavbar.cshtml" />

<section class="shoppingBag">
    <div class="container">
        <div class="top-section">
            <i class="fa-regular fa-angle-left d-lg-none"></i>
            <h5>Order</h5>
            <a class="shopping-bag" href="shoppingBag.html">
                <span class="badge rounded-pill">$0</span>
                <i class="fa-light fa-shopping-bag"></i>
            </a>
        </div>

        <div class="content">
            <div class="item">
                <div class="tag">SALE</div>
                <img src="~/Images/Static/shopping-bag-img.png" />
                <div class="body">
                    <div class="item-details">
                        <a class="item-name">Shoulder bag</a>
                        <div class="prices">
                            <p class="old-price">$36</p>
                            <p class="new-price">$30</p>
                        </div>
                        <div class="size">
                            <p class="title">Size:</p>
                            <p>M</p>
                        </div>
                        <div class="color">
                            <p class="title">Color:</p>
                            <p>Blue</p>
                        </div>
                    </div>
                    <div class="qty">
                        <span>+</span>
                        <span>1</span>
                        <span>-</span>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="tag">SALE</div>
                <img src="~/Images/Static/shopping-bag-img.png" />
                <div class="body">
                    <div class="item-details">
                        <a class="item-name">Shoulder bag</a>
                        <div class="prices">
                            <p class="old-price">$36</p>
                            <p class="new-price">$30</p>
                        </div>
                        <div class="size">
                            <p class="title">Size:</p>
                            <p>M</p>
                        </div>
                        <div class="color">
                            <p class="title">Color:</p>
                            <p>Blue</p>
                        </div>
                    </div>
                    <div class="qty">
                        <span>+</span>
                        <span>1</span>
                        <span>-</span>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="tag">SALE</div>
                <img src="~/Images/Static/shopping-bag-img.png" />
                <div class="body">
                    <div class="item-details">
                        <a class="item-name">Shoulder bag</a>
                        <div class="prices">
                            <p class="old-price">$36</p>
                            <p class="new-price">$30</p>
                        </div>
                        <div class="size">
                            <p class="title">Size:</p>
                            <p>M</p>
                        </div>
                        <div class="color">
                            <p class="title">Color:</p>
                            <p>Blue</p>
                        </div>
                    </div>
                    <div class="qty">
                        <span>+</span>
                        <span>1</span>
                        <span>-</span>
                    </div>
                </div>
            </div>
            <div class="line-top"></div>
            <div class="bottom-section">
                <div class="form-input">
                    <fieldset>
                        <legend>Promocode</legend>
                        <input type="text" id="promocode" name="promocode">
                    </fieldset>
                    <button type="button" class="btn-apply">Apply</button>
                </div>

                <div class="checkout">
                    <div class="checkout-content">
                        <h7 class="subtotal">Subtotal</h7>
                        <h7>$45.39</h7>
                    </div>

                    <div class="checkout-content">
                        <h6>Discount</h6>
                        <h6>-5.39</h6>
                    </div>

                    <div class="checkout-content">
                        <h6>Delivery</h6>
                        <h6 class="delivery">Free</h6>
                    </div>

                    <div class="line-top"></div>

                    <div class="checkout-content">
                        <h7 class="total">Total</h7>
                        <h7>$44.03</h7>
                    </div>
                </div>
                <button type="button" class="btn-theme">PROCEED TO CHECKOUT</button>
            </div>
        </div>
    </div>
</section>