@using Manero_WebApp.ViewModels;
@*
    This modal takes a DecisionModalViewModel as a model. To call for it just create a partial with the DecisionModalViewModel you want to enter:
    
    EXAMPLE:

    DecisionModalViewModel modal = new()
    {
        Message = "Are you sure you want to sign out?",
        Controller = "Account",
        Action = "Logout"
    };

    <partial name="/Views/Partials/SmallComponents/Pop-Up-Modals/Decision-modal.cshtml" model="modal" />
*@
@{
     
}
@model DecisionModalViewModel

<!-- Pop-up Decision Modal -->
<div class="decision-modal-backdrop d-none" id="decision-modal-backdrop"></div>
<div class="decision-pop-up-modal d-none" id="decision-pop-up-modal">
    <div class="border">
        <div class="content">
            <div class="horizontal-line"></div>
            <h1>@Model.Message</h1>
            <a asp-controller="@Model.Controller" asp-action="@Model.Action" class="button-theme">Sure</a>
            <button onclick="closeDesicionModal()" class="button-theme">Cancel</button>
        </div>
    </div>
</div>   