@*
    This modal takes a string as a model. To call for it just create a partial with the string you want to enter:
    
    EXAMPLE:

    @{
        string modalmessage = "Hello!";
    }

    <partial name="/Views/Partials/SmallComponents/Pop-Up-Modals/Decision-modal.cshtml" model="modalmessage" />
*@
@{
     
}
@model string

<!-- Pop-up Decision Modal -->
<div class="decision-modal-backdrop" id="decision-modal-backdrop"></div>
<div class="decision-pop-up-modal" id="decision-pop-up-modal">
    <div class="border">
        <div class="content">
            <div class="horizontal-line"></div>
            <h1>@Model</h1>
            <button class="button-theme">Sure</button>
            <button onclick="closeDesicionModal()" class="button-theme">Cancel</button>
        </div>
    </div>
</div>   