.bestsellers-mobile {
    @include xl {
        display: none;
    }

    h2 {
        font-size: 20px;
        font-weight: $font-weight-bold;
        text-align: left;
        font-family: $font-mulish;
        color: $color-dark;
    }

    a {
        text-decoration: none;
        font-size: 16px;
        font-family: $font-mulish;
        font-weight: $font-weight-regular;
        text-align: right;
        color: $color-dark;
    }

    .container {
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;

        .category {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .products {
            display: flex;
            overflow-x: auto;
            gap: 14px;
            scrollbar-width: none;
            -ms-overflow-style: none;

            &::-webkit-scrollbar {
                display: none;
            }

            &.active {
                cursor: grabbing;
                user-select: none;
            }

            &:hover {
                cursor: grab;
                box-shadow: inherit;
            }

            &:active {
                cursor: grabbing;
            }
        }
    }
}

.bestsellers-desktop {
    display: none;

    @media (min-width: 1200px) {
        display: block;

        h2 {
            font-size: 28px;
            font-weight: $font-weight-bold;
            text-align: left;
            font-family: $font-mulish;
            color: $color-dark;
        }

        a {
            text-decoration: none;
            font-size: 20px;
            font-family: $font-mulish;
            font-weight: $font-weight-regular;
            text-align: right;
            color: $color-dark;
        }

        .container {
            width: 80%;
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 30px;

            .category {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;
            }

            .products {
                display: flex;
                flex-wrap: wrap;
                gap: 30px;
            }
        }
    }
}

