.bestsellers-mobile {

    @include xl {
        display: none;
    }

    h2 {
        font-size: 20px;
        font-weight: $font-weight-bold;
        text-align: left;
        font-family: $font-mulish;
        color: $color-dark;
    }

    a {
        text-decoration: none;
        font-size: 16px;
        font-family: $font-mulish;
        font-weight: $font-weight-regular;
        text-align: right;
        color: $color-dark;
    }

    .container {
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;

        .category {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .products {
            display: flex;
            overflow-x: auto;
            gap: 14px;

            .product-link {
                text-decoration: none;
                color: inherit;
            }

            .product-card {
                flex: 0 0 auto;
                transition: transform 0.2s, box-shadow 0.2s;

                &:hover {
                    transform: translateY(-5px);
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                }


                .product-icons {
                    top: 10px;
                    right: 10px;
                    gap: 10px;
                    margin-top: 10px;
                    z-index: 1;

                    .product-icon-button {
                        background-color: transparent;
                        border: none;

                        i {
                            position: relative;
                            top: 10px;
                            left: 210px;

                            &:hover {
                                color: red;
                            }
                        }
                    }

                    .product-icon-bag {
                        position: relative;
                        top: 20px;
                        left: 210px;
                        width: 15px;
                        margin: auto;
                    }
                }

                .product-link {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 200px;
                    position: relative;
                    text-decoration: none;
                    color: inherit;

                    .sale-label {
                        position: absolute;
                        background-color: green;
                        color: white;
                        padding: 2px 5px;
                        font-size: 8px;
                        font-weight: $font-weight-bold;
                    }


                    .product-image {
                        width: 100%;
                        height: 250px;
                        object-fit: cover;
                    }



                    .product-rating {
                        margin-top: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: left;
                        gap: 5px;
                        padding: 5px;
                        width: 100%;
                        font-size: 12px;
                        color: $color-yellow;

                        .nr {
                            color: $color-dark;
                        }
                    }

                    .product-name,
                    .product-price {
                        padding-left: 5px;
                    }

                    .product-name {
                        font-size: 14px;
                        font-weight: $font-weight-semibold;
                        margin-top: 10px;
                    }

                    .product-price {
                        font-size: 14px;
                        margin-top: 5px;
                    }

                    .product-discount {
                        font-size: 16px;
                        color: $color-red; // A reddish color for discounts; adjust as needed
                        margin-top: 5px;
                        margin-left: 5px;
                        font-weight: $font-weight-semibold;
                    }
                }

                &:last-child {
                    margin-right: 0;
                }
            }

            &::-webkit-scrollbar {
                display: none;
            }

            scrollbar-width: none;
            -ms-overflow-style: none;

            &.active {
                cursor: grabbing;
                user-select: none;
            }

            &:hover {
                cursor: grab;
                box-shadow: inherit;
            }

            &:active {
                cursor: grabbing;
            }
        }
    }
}

.bestsellers-desktop {
    display: none;

    @media (min-width: 1200px) {
        display: block;

        h2 {
            font-size: 28px;
            font-weight: $font-weight-bold;
            text-align: left;
            font-family: $font-mulish;
            color: $color-dark;
        }

        a {
            text-decoration: none;
            font-size: 20px;
            font-family: $font-mulish;
            font-weight: $font-weight-regular;
            text-align: right;
            color: $color-dark;
        }

        .container {
            width: 80%;
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 30px;

            .category {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;
            }

            .products {
                display: flex;
                flex-wrap: wrap;
                gap: 30px;

                .product-card {
                    width: 200px;
                    margin: 0;
                    transition: transform 0.2s, box-shadow 0.2s;

                    &:hover {
                        transform: translateY(-5px);
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                    }

                    .product-icons {
                        top: 10px;
                        right: 10px;
                        gap: 10px;
                        margin-top: 10px;
                        z-index: 1;

                        .product-icon-button {
                            background-color: transparent;
                            border: none;

                            i {
                                position: relative;
                                top: 10px;
                                left: 120px;

                                &:hover {
                                    color: red;
                                }
                            }
                        }

                        .product-icon-bag {
                            position: relative;
                            top: 20px;
                            left: 125px;
                            width: 15px;
                            margin: auto;
                        }
                    }
                }

                .product-link {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 100%;
                    position: relative;
                    text-decoration: none;
                    color: inherit;

                    .product-image {
                        width: 100%;
                        height: auto;
                        max-height: 200px;
                        object-fit: cover;
                        transition: transform 0.2s;
                        margin-bottom: 10px;
                    }

                    .sale-label {
                        position: absolute;
                        background-color: green;
                        color: white;
                        padding: 2px 5px;
                        font-size: 8px;
                        font-weight: $font-weight-bold;
                        z-index: 1;
                    }


                    .product-rating {
                        display: flex;
                        align-items: center;
                        justify-content: left;
                        gap: 5px;
                        padding: 5px;
                        width: 100%;
                        font-size: 16px;
                        color: $color-yellow;

                        .nr {
                            color: $color-dark;
                        }
                    }

                    .product-name,
                    .product-price {
                        text-align: left;
                        padding: 5px;
                    }

                    .product-name {
                        font-size: 18px;
                        font-weight: $font-weight-semibold;
                        margin-top: 10px;
                    }

                    .product-price {
                        font-size: 14px;
                        margin-top: 5px;
                    }

                    .product-discount {
                        font-size: 16px;
                        color: $color-red; // A reddish color for discounts; adjust as needed
                        margin-top: 5px;
                        margin-left: 5px;
                        font-weight: $font-weight-semibold;
                    }
                }
            }
        }
    }
}
