@import '../core/_colors.scss';
@import '../core/_mixins.scss';



/* Custom Icon Pattern background */
.customIcon {
    width: 175px;
    height: 175px;
    background-color: $color-theme;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .customIconEllipse {
        width: 165px;
        height: 165px;
        border-radius: 50%;
        border: 10px solid $color-white;
        background-color: $color-theme;
        border-radius: 50%;
        position: relative;
        box-sizing: border-box;
    }

        .customIconPattern {
            width: 107%;
            height: 107%;
            margin: -5px 0 0px -6px;
        }

            .FAIcon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 60px; 
                height: 60px;
                font-size: 70px; 
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }


/* Success Icon Pop-Up */
.customIconSuccess {
    width: 175px;
    height: 175px;
    background-color: $color-green;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .FAIconSuccess {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        color: $color-green;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

/* Fail Icon Pop-Up */
.customIconFail {
    width: 175px;
    height: 175px;
    background-color: $color-red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .FAIconFail {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px; /* Adjust the font size as needed */
        color: $color-red;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


/* Profile Picture Icon */

/* Outer border circle */
.profilePictureBorder {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    box-sizing: border-box;
    border: 8px solid $color-theme;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Small circle with FA pen icon */
.customIconEdit {
    text-decoration: none;
    width: 55px;
    height: 55px;
    background-color: $color-theme;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -4px;
    right: -4px;
}



/* Circular space for profile picture */
.customIconProfile {
    width: 100%;
    height: 100%;
    background-color: $color-white; /* Background color for the circular space */
    border-radius: 50%;
    overflow: hidden; /* Clip profile picture within the circle */
}

    .customIconProfile img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

/* Social Media Login Icon */

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin-top: 80px;
}

.customSocialIcon {
    text-decoration: none;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: $color-white;
    border: 2px solid $color-theme;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .customSocialIcon i {
        font-size: 22px;
    }

/* Footer Icons */
/*.footerIcon {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: $color-white;
}

    .footerIcon i {
        font-size: 25px;
    }

    .footerIcon:active {
        border-radius: 50%;
        background-color: $color-theme;
    }*/

/* cart Icon */
.cartIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 33px;
    width: 33px;
    background-color: #111111;
}

    .cartIcon i {
        font-size: 15px;
        color: $color-white;
    }

    .cartIcon:active {
        border-radius: 50%;
        background-color: #434343;
    }
