.products-container {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;

    @include md {
        justify-content: center;
        flex-wrap: wrap;
    }
}
