@import '../core/fonts.scss';
@import '../core/colors';
@import '../core/mixins.scss';


footer {
    background-color: $color-dark;
    padding-top: 70px;

    .container {
        .content {
            display: flex;
            flex-wrap: wrap;
            color: $color-white;

            @include xxl {
                display: grid;
                grid-template-columns: 4fr 2fr 2fr 1fr;
            }

            .footer-columns {

                padding: 0 15px;
                width: 100%;

                @include md {
                    width: 50%;
                }

                @include lg {
                    padding: 0;
                    margin: 0;
                    width: 190px;
                    height: 250px;
                    padding: 0 30px;
                }


                .heading {
                    font-size: 26px;
                    font-weight: $font-weight-bold;
                    color: white;

                    @include lg {
                    }
                }

                p {
                    width: 300px;
                    padding-top: 10px;
                }

                .subscribe-form {
                    display: flex;
                    flex-direction: column;
                    margin-top: 20px;
                    width: 300px;

                    .input-button-box {
                        display: flex;
                        align-items: center;
                        padding-bottom: 40px;

                        input {
                            border: 1px solid #ccc;
                            border-radius: 30px;
                            height: 50px;
                            width: 300px;
                            padding: 0 20px;
                            margin: 10px 0;

                            @include xxl {
                                width: 400px;
                            }
                        }

                        button {
                            background: transparent;
                            border: none;
                            cursor: pointer;
                            font-size: 24px;
                            margin-left: -50px;
                            margin-top: 0px;

                            i {
                                color: $color-red;
                            }
                        }
                    }
                }


                ul {
                    list-style-type: none;
                    padding: 0;
                    line-height: 37px;

                    a {
                        color: $color-white;

                        &:hover {
                            padding-left: 8px;
                            color: $color-red;
                        }
                    }
                }
            }
        }
    }

    .copyright {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 15px;
        color: white;

        p i {
            margin-right: 5px;
        }

        .social-media {
            padding-left: 40px;

            a {
                color: white;
                font-size: 18px;
                margin-left: 15px;
            }
        }
    }
}
