@keyframes loadingAnimation {
    0% {
        transform: scale(0.8);
        opacity: 0.8;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.4;
    }

    100% {
        transform: scale(0.8);
        opacity: 0.8;
    }
}


.welcome {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    transition: opacity 1s ease-in-out;


    .container {
        position: relative;
        background-color: #DBE3F5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 375px;
        height: auto;
        min-height: 812px;
        padding: 0;
        overflow: hidden;

        .loading-element {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 5px solid white;
            width: 140px;
            height: 140px;
            border-radius: 50%;

            .animation {
                animation: loadingAnimation 2s infinite;
            }
        }

        .logo {
            animation: loadingAnimation 3s infinite;

            .img-logo {
                position: relative;
                display: grid;
                text-align: center;
                justify-content: center;
                align-items: center;
                background-color: white;
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
        }
    }
}



.onboarding {
    display: flex;

    .container {
        background-color: #DBE3F5;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 375px;
        height: 812px;
        padding: 0;
        overflow: hidden;

        .circle {
            position: absolute;
            bottom: -8%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 5px solid white;
            width: 475px;
            height: 475px;
            border-radius: 50%;

            .circle-background {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: white;
                width: 415px;
                height: 415px;
                border-radius: 50%;


                .carousel-item {
                    position: relative;
                    text-align: center;
                    width: 350px;
                    height: 350px;

                    .carousel-content {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        .line { // byt ut
                            height: 35px;
                            border-left: 2px solid black;
                            margin-bottom: 15px;
                        }

                        h2 {
                            font-weight: $font-weight-bold;
                            font-size: 32px;
                            width: 70%;
                        }

                        p {
                            margin: 10px 0;
                            color: $color-grey;
                        }

                        .get-started {
                            width: 255px;
                            font-size: 16px;
                            margin: 10px 0;
                            cursor: pointer;

                            &:hover {
                                color: white;
                            }
                        }
                    }
                }

                .carousel-indicators {
                    position: absolute;
                    display: flex !important;
                    justify-content: center !important;
                    align-items: center !important;
                    bottom: 30px;

                    button {
                        width: 7px;
                        height: 7px;
                        background-color: $color-dark !important;
                        border-radius: 50%;
                        margin: 0 5px;
                        border: none;

                        &.active {
                            width: 22px;
                            height: 8px;
                            background-color: transparent !important;
                            border: 3px solid $color-dark;
                            border-radius: 40px;
                        }
                    }
                }
            }
        }
    }
}
