.success-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

  
    .container {
      .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
  
        img {
          margin-top: 80px;
        }
  
        .upwardsline {
            margin-top: 40px;
            background-color: black;
            height: 40px;
            width: 3px;
        }
  
        .infotext {
          margin-top: 40px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;

          h1 {
            font-size: 22px;
            font-weight: $font-weight-bold;
            font-family: $font-mulish;
            display: flex;
            text-align: center;
            justify-content: center;
            width: 250px;
          }
    
          h2 {
            font-size: 16px;
            font-weight: $font-weight-regular;
            font-family: $font-mulish;
            width: 220px;
          }
        }
  
        .btn {
          border: none;
          background-color: $button-bg-color;
          color: $button-text-color;
          border-radius: $button-border-radius;
          height: $button-height;
          font-size: $button-font-size;
          display: inline-block;
          width: 335px;
          text-align: center;
          line-height: 2.5rem;
          vertical-align: middle;
          transition: ease-in-out 0.3s;
          margin-top: 50px;
  
          &:hover {
            background-color: gray;
          }
        }
        a{
          margin-top: 10px;
        }
      }
    }
  }