.shoppingBag {
    padding: 50px;

    .container {
        @include lg {
            width: 1110px;
        }

        .top-section {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid $color-theme;
            margin-bottom: 30px;
            width: 100%;

            @include lg {
                justify-content: center;
            }


            i {
                font-size: 18px;
            }

            .shopping-bag {
                margin-bottom: 12px;

                @include lg {
                    display: none !important;
                }
            }
        }

        .content {
            .item {
                display: flex;
                align-items: center;
                margin-right: 20px;
                position: relative;
                padding-bottom: 30px;

                .tag {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    background-color: $color-sale;
                    width: 33px;
                    height: 16px;
                    text-align: center;
                    color: $color-white;
                    font-size: 9px;
                    font-family: $font-weight-bold;
                }

                img {
                    width: 100px;
                    height: 100px;
                    margin-right: 20px;
                }

                .body {
                    display: flex;
                    justify-content: space-between;
                    line-height: 2.5;
                    height: 100px;

                    .item-details {
                        display: flex;
                        flex-direction: column;
                        // align-items: flex-start;
                        line-height: 10px;
                        font-size: 14;
                        margin-top: 5px;
                        width: 100%;

                        .item-name {
                            &:hover {
                                color: $color-red;
                            }
                        }

                        .prices {
                            display: flex;
                            margin-top: 12px;
                            margin-bottom: 3px;

                            .old-price {
                                font-size: 16px;
                                color: $color-grey;
                                text-decoration: line-through;
                                margin-right: 10px;
                            }

                            .new-price {
                                font-size: 16px;
                                color: black;
                            }
                        }

                        .size,
                        .color {
                            display: flex;
                            line-height: 9px;

                            p {
                                margin-right: 8px;
                            }
                        }
                    }
                }

                .qty {
                    margin-left: 5.5rem;
                    margin-top: -10px;

                    @include md {
                        margin-left: 28rem;
                    }

                    @include lg {
                        margin-left: 42rem;
                    }

                    @include xl {
                        margin-left: 52rem;
                    }
                }
            }
        }
    }

    .bottom-section {
        .form-input {
            margin-top: auto;
            display: flex;

            fieldset {
                border: 1px solid #DBE3F5;
                border-radius: 10px;
                padding: 0 10px;
                width: 100%;
                height: 43px;
                position: relative;
            }

            legend {
                position: absolute;
                top: -18px;
                left: 30px;
                background-color: #FFFFFF;
                width: auto;
                z-index: 1;
                padding: 0 5px;
                font-size: 20px;
                font-weight: 600;
                color: $color-grey;
            }

            input {
                width: 85%;
                padding: 7px;
                border: 1px solid #DBE3F5;
                border-color: #FFFFFF;
                outline: none;
            }

            input:focus {
                outline: none !important;
                border: 1px solid #FFFFFF;
            }


            .btn-apply {
                background: $color-promo;
                border: none;
                color: $color-white;
                font-weight: $font-weight-bold;
                margin-left: 30px;
                height: 40px;
                width: 80px;
            }
        }

        .checkout {
            padding-top: 20px;
            margin-bottom: 200px;


            .checkout-content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;

                .subtotal {
                    font-weight: $font-weight-semibold;
                }

                .discount, h6 {
                    color: $color-grey;
                }

                .delivery {
                    color: $color-green;
                }

                .total {
                    padding-top: 10px;
                }
            }
        }
    }
}


.line-top {
    background-color: $color-theme;
    width: 100%;
    height: 1px;
    margin: 20px 0 30px 0;
}
