.Showcase-mobile {
    @include xl {
        display: none;
    }



    .container {
        position: relative;
        width: 375px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            display: block;
        }

        h1 {
            position: absolute;
            bottom: 27px;
            left: 20px;
            color: white;
            margin: 0;
        }
    }
}


.Showcase-desktop {
    @media (max-width: 1200px) {
        display: none;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 800px;
        height: 600px;
        margin: 0 auto;

        img {
            display: block;
            width: 800px;
            height: 600px;
        }

        h1 {
            position: absolute;
            bottom: 27px;
            left: 20px;
            color: white;
            margin: 0;
        }
    }
}
