.showcase {
    background-color: $color-theme;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .content {
            color: $color-dark;
            flex-direction: column;
            color: $color-white;

            h2 {
                font-size: 45px;
                width: 70%;
                font-weight: $font-weight-bold;

                @include md {
                    width: 100%;
                }
            }

            h5 {
                font-size: 32px;
                margin: 20px 0;
                font-weight: $font-weight-bold;
            }
        }

        .mySlides {
            display: none;
            padding-top: 20px;

            img {
                height: 550px;
                width: 500px;
            }
        }
    }

    .dots {
        display: flex;
        justify-content: center;
        gap: 10px;
        padding-bottom: 20px;

        .dot {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: grey;
            cursor: pointer;

            &.active {
                background-color: $color-dark;
            }
        }
    }
}

.btn-small {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    background: $color-white;
    border: none;
    color: $color-dark;
    font-weight: $font-weight-bold;
}