@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap");
header {
  padding: 20px 0;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "toggle logo";
}
@media (min-width: 992px) {
  header .container {
    grid-template-columns: 4fr 4fr;
    grid-template-areas: "logo pagelinks";
  }
}
@media (min-width: 1200px) {
  header .container {
    grid-template-columns: 4fr 4fr 1fr;
    grid-template-areas: "logo pagelinks menuicons";
  }
}
header .container .logo {
  grid-area: logo;
}
header .container .page-links {
  grid-area: pagelinks;
  transition: all 0.25s;
  font-size: 20px;
  overflow: hidden;
  display: none;
}
@media (min-width: 992px) {
  header .container .page-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  header .container .page-links {
    margin-right: 20px;
  }
}
header .container .page-links .page-link {
  text-decoration: none;
  margin: 20px;
  font-size: 18px;
}
header .container .page-links .page-link:hover {
  color: #F4303C;
}
@media (min-width: 1200px) {
  header .container .page-links .page-link {
    color: #626262;
    margin-left: 15px;
    font-size: 18px;
  }
}
header .container .menu-icons {
  display: none;
  opacity: 90%;
  grid-area: menuicons;
}
@media (min-width: 1200px) {
  header .container .menu-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
header .container .menu-icons .menu-icon {
  margin: 15px;
  font-size: 18px;
}
header .container .menu-icons .menu-icon:hover {
  color: #F4303C;
}
@media (min-width: 1200px) {
  header .container .menu-icons .menu-icon {
    margin-left: 15px;
  }
}
header .container .menu-icons .overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111111;
}
header .container .menu-icons .overlay .closebtn {
  position: absolute;
  top: 60px;
  right: 55px;
  font-size: 30px;
  cursor: pointer;
  color: #F4303C;
}
header .container .menu-icons .overlay .overlay-content {
  position: relative;
  top: 45%;
  width: 70%;
  text-align: center;
  margin: auto;
}
header .container .menu-icons .overlay .overlay-content form {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container .menu-icons .overlay .overlay-content form input {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 50%;
  background: white;
  border-radius: 15px 0 0 15px;
}
@media (min-width: 1200px) {
  header .container .menu-icons .overlay .overlay-content form input {
    width: 40%;
  }
}
header .container .menu-icons .overlay .overlay-content form .searchSubmit {
  background-color: #F4303C;
  color: #FFFFFF;
  float: left;
  width: 10%;
  padding: 14.7px 8px;
  font-size: 18px;
  border: none;
  border-radius: 0 15px 15px 0;
}
@media (min-width: 1200px) {
  header .container .menu-icons .overlay .overlay-content form .searchSubmit {
    width: 6%;
  }
}
header .container .menu-icons .openBtn {
  color: #111111;
  background-color: transparent;
  border: none;
  padding: 20px;
  font-size: 18px;
}
header .container .menu-icons .openBtn:hover {
  color: #F4303C;
  background-color: transparent;
}
header .container .offcanvas-start {
  background-color: #111111;
}
header .container .offcanvas-start .offcanvas-body .toggle-link .btn-toggle {
  font-weight: 700;
  color: white;
  margin-left: auto;
}
header .container .offcanvas-start .offcanvas-body .toggle-link .btn-toggle a {
  color: #FFFFFF;
}
header .container .offcanvas-start .offcanvas-body .toggle-link .btn-toggle a:hover {
  color: #F4303C;
}
header .container .offcanvas-start .offcanvas-body .toggle-link .collapse {
  padding: 0 10px;
  font-size: 14px;
  color: #B3B9C7;
}
header .container .offcanvas-start .offcanvas-body .toggle-link .collapse ul {
  color: #B3B9C7;
}
header .container .offcanvas-start .offcanvas-body .toggle-link .collapse ul li {
  padding: 0 10px;
}
header .container .offcanvas-start .offcanvas-body .toggle-link .collapse ul li a {
  color: #B3B9C7;
}
header .container .offcanvas-start .offcanvas-body .toggle-link .collapse ul li a:hover {
  color: #F4303C;
}
header .container .offcanvas-start .offcanvas-body .toggle-link .collapse ul li .info-box {
  display: flex;
  margin: 15px 0;
  border-bottom: 1px solid #626262;
}
header .container .offcanvas-start .offcanvas-body .toggle-link .collapse ul li .info-box i {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-right: 15px;
  background-color: #111111;
  color: #FFFFFF;
  border: 1px solid #626262;
}
header .container .offcanvas-start .offcanvas-body .toggle-link .collapse ul li .info-box .content {
  display: flex;
  flex-direction: column;
}
header .container .offcanvas-start .offcanvas-body .toggle-link .collapse ul li .info-box .content.last {
  border: none;
}
header .container .offcanvas-start .offcanvas-body .toggle-link .collapse ul li .info-box .content p {
  line-height: 5px;
  color: #B3B9C7;
}
header .container .offcanvas-start .offcanvas-body .toggle-link .line {
  background-color: #F4303C;
  height: 2px;
  margin-bottom: 30px;
}
header .container .offcanvas-start .offcanvas-body .track-order {
  padding: 20px;
  color: #B3B9C7;
}
header .container .offcanvas-start .offcanvas-body .track-order h5 {
  font-size: 14px;
  color: #B3B9C7;
}
header .container .offcanvas-start .offcanvas-body .track-order .form-input fieldset {
  width: 100%;
  padding: 4px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
header .container .offcanvas-start .offcanvas-body .track-order .form-input fieldset legend {
  color: #B3B9C7;
  background: #111111;
  left: 20px;
  top: -12px;
  font-size: 12px;
}
header .container .offcanvas-start .offcanvas-body .track-order .form-input fieldset input {
  margin-left: 11px;
  width: 65%;
  border: none;
  background: transparent;
  color: white;
}
header .container .offcanvas-start .offcanvas-body .track-order .form-input fieldset input:-webkit-autofill, header .container .offcanvas-start .offcanvas-body .track-order .form-input fieldset input:-webkit-autofill:hover, header .container .offcanvas-start .offcanvas-body .track-order .form-input fieldset input:-webkit-autofill:focus, header .container .offcanvas-start .offcanvas-body .track-order .form-input fieldset input:-webkit-autofill:active, header .container .offcanvas-start .offcanvas-body .track-order .form-input fieldset input:-internal-autofill-selected, header .container .offcanvas-start .offcanvas-body .track-order .form-input fieldset input:-internal-autofill-previewed {
  -webkit-text-fill-color: #999;
  background-color: #111111 !important;
  -webkit-box-shadow: 0 0 0 30px #111111 inset !important;
}
header .container .offcanvas-start .offcanvas-body .track-order .form-input fieldset .arrow-submit-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #B3B9C7;
  border: none;
  transition: 0.2s ease-in-out;
}
header .container .offcanvas-start .offcanvas-body .track-order .form-input fieldset .arrow-submit-btn:hover {
  scale: 1.1;
}
header .mobile {
  display: flex;
}
@media (min-width: 1200px) {
  header .mobile {
    display: none;
  }
}
header .mobile .bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #DBE3F5;
  padding: 30px 0;
  background-color: white;
}
header .mobile .bottom-nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
}
header .mobile .bottom-nav ul li .footerIcon {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  color: #626262;
}
header .mobile .bottom-nav ul li .footerIcon.active {
  border-radius: 50%;
  padding: 20px;
  background-color: #DBE3F5;
}
header .mobile .bottom-nav ul li .footerIcon i {
  font-size: 25px;
}

.shopping-bag {
  position: relative;
  margin: 0 10px;
}
.shopping-bag .badge {
  background-color: red;
  position: absolute;
  font-size: 11px;
  padding: 4px 3px;
  font-weight: 700;
  top: 6px;
  right: 12px;
}
.shopping-bag i {
  font-size: 20px;
}
.shopping-bag i:hover {
  color: #F4303C;
}

/*.mobile-top-navbar {
    @include xl {
        display: none;
    }

    .container {
        display: flex;
        justify-content: space-between;
        padding: 0 10px 10px 10px;

        .bars-menu {
            border: none;
            background-color: transparent;
            font-size: 25px;
        }

        .mobile-menu-open {
            left: 0 !important;
        }

        .slideout-background {
            position: fixed;
            left: 0;
            top: 0;
            width: 100vw;
            height: 100vh;
            z-index: -4;
            background-color: black;
            opacity: 0;
            transition: 0.3s ease-in-out;
        }

        .slideout-open {
            z-index: 4;
            opacity: 0.4;
        }

        .slideout-menu {
            position: fixed;
            left: -270px;
            background-color: #111111;
            color: #FFFFFF;
            padding: 20px 0;
            min-height: 100vh;
            width: 270px;
            z-index: 5;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transition: 0.3s ease-in-out;

            .upper-section {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .close-btn {
                    text-align: center;
                    color: white;
                    font-size: 25px;
                    width: 50px;
                    align-self: end;
                    background-color: transparent;
                    border: none;
                }

                .contact-info {
                    display: flex;
                    flex-direction: column;

                    h1 {
                        font-size: 22px;
                        margin-bottom: 20px;
                        padding: 0 20px;
                    }

                    .info-box {
                        display: flex;
                        gap: 10px;
                        padding: 0 20px;

                        .icon {
                            min-width: 30px;
                            height: 30px;
                            border: 1px solid RGBA(219,227,245,0.3);
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        p {
                            color: #B3B9C7;
                            margin-bottom: 0;
                        }
                    }

                    hr {
                        margin: 16px 0;
                    }
                }
            }

            .track-order {
                padding: 20px;
                color: #B3B9C7;

                h5 {
                    font-size: 14px;
                    color: #B3B9C7;
                }

                .form-input {
                    fieldset {
                        width: 100%;
                        padding: 4px;
                        height: 50px;
                        display: flex;
                        justify-content: space-between;

                        legend {
                            color: #B3B9C7;
                            background: #111111;
                            left: 20px;
                            top: -12px;
                            font-size: 12px;
                        }

                        input {
                            margin-left: 11px;
                            width: 65%;
                            border: none;
                            background: transparent;
                            color: white;

                            &:-webkit-autofill,
                            &:-webkit-autofill:hover,
                            &:-webkit-autofill:focus,
                            &:-webkit-autofill:active,
                            &:-internal-autofill-selected,
                            &:-internal-autofill-previewed {
                                -webkit-text-fill-color: #999;
                                background-color: #111111 !important;
                                -webkit-box-shadow: 0 0 0 30px #111111 inset !important;
                            }
                        }

                        .arrow-submit-btn {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            background-color: #B3B9C7;
                            border: none;
                            transition: 0.2s ease-in-out;

                            &:hover {
                                scale: 1.1;
                            }
                        }
                    }
                }
            }
        }

        .shopping-cart-menu {
            border: none;
            font-size: 25px;
            background-color: transparent;
            transition: 0.2s ease-in-out;
            position: relative;

            .badge-pill {
                position: absolute;
                background-color: red;
                padding: 3px 5px;
                left: -10px;
                bottom: 0px;
                font-size: 10px;
            }
        }
    }

    hr {
        color: #8C93A7;
        margin: 0;
    }
}

*/
