header {
    background-color: $color-theme;

    .container {
        padding: 20px 0;

        .top-menu {
            display: flex;
            justify-content: center;
            align-items: center;

            .logo {
                height: 30px;
                width: 90px;

                @include md {
                    height: auto;
                    width: auto;
                }

                img {
                    padding: 0;
                    margin: 0;
                }
            }

            .page-links {
                transition: all 0.25s;
                font-size: 20px;
                overflow: hidden;
                display: none;

                @include lg {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    width: 100%;
                }

                @include xl {
                    margin-right: 20px;
                }

                .page-link {
                    text-decoration: none;
                    margin: 20px;
                    font-size: 18px;

                    &:hover {
                        color: $color-red;
                    }

                    @include xl {
                        color: $color-grey;
                        margin-left: 15px;
                        font-size: 18px;
                    }
                }
            }

            .menu-icons {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                opacity: 90%;

                .menu-icon {
                    margin: 15px;
                    font-size: 18px;

                    &:hover {
                        color: $color-red;
                    }

                    @include xl {
                        margin-left: 15px;
                    }
                }

                .overlay {
                    height: 100%;
                    width: 100%;
                    display: none;
                    position: fixed;
                    z-index: 1;
                    top: 0;
                    left: 0;
                    background-color: $color-dark;

                    .closebtn {
                        position: absolute;
                        top: 60px;
                        right: 55px;
                        font-size: 30px;
                        cursor: pointer;
                        color: $color-red;
                    }

                    .overlay-content {
                        position: relative;
                        top: 45%;
                        width: 70%;
                        text-align: center;
                        margin: auto;

                        form {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            input {
                                padding: 15px;
                                font-size: 17px;
                                border: none;
                                float: left;
                                width: 50%;
                                background: white;
                                border-radius: 15px 0 0 15px;

                                @include xl {
                                    width: 40%;
                                }
                            }

                            .searchSubmit {
                                background-color: $color-red;
                                color: $color-white;
                                float: left;
                                width: 10%;
                                padding: 14.7px 8px;
                                font-size: 18px;
                                border: none;
                                border-radius: 0 15px 15px 0;

                                @include xl {
                                    width: 6%;
                                }
                            }
                        }
                    }
                }

                .openBtn {
                    color: $color-dark;
                    background-color: transparent;
                    border: none;
                    padding: 20px;
                    font-size: 18px;
                    display: none;

                    @include lg {
                        display: flex;
                    }

                    &:hover {
                        color: $color-red;
                        background-color: transparent;
                    }
                }
            }
        }

        .shopping-bag {
            display: flex !important;
            justify-content: center;
            align-items: flex-end;
            position: relative;
            margin: 0 10px;
            left: 110px;

            @include lg {
                left: 0;
            }

            .badge {
                background-color: red;
                position: absolute;
                font-size: 11px;
                padding: 4px 3px;
                font-weight: $font-weight-bold;
                top: 6px;
                right: 12px;
            }

            i {
                font-size: 20px;

                &:hover {
                    color: $color-red;
                }
            }
        }


        .offcanvas-start {
            background-color: #111111;
            padding: 0;
            margin: 0;

            .offcanvas-body {
                .toggle-link {
                    .btn-toggle {
                        font-weight: $font-weight-bold;
                        color: white;
                        margin-left: auto;

                        a {
                            color: $color-white;

                            &:hover {
                                color: $color-red;
                            }
                        }
                    }

                    .collapse {
                        padding: 0 10px;
                        font-size: 14px;
                        color: $color-subTitle;

                        ul {
                            color: $color-subTitle;

                            li {
                                padding: 0 10px;

                                a {
                                    color: $color-subTitle;

                                    &:hover {
                                        color: $color-red;
                                    }
                                }

                                .info-box {
                                    display: flex;
                                    margin: 15px 0;
                                    border-bottom: 1px solid $color-grey;

                                    i {
                                        width: 28px;
                                        height: 28px;
                                        border-radius: 50%;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        font-size: 14px;
                                        margin-right: 15px;
                                        background-color: $color-dark;
                                        color: $color-white;
                                        border: 1px solid $color-grey;
                                    }

                                    .content {
                                        display: flex;
                                        flex-direction: column;

                                        &.last {
                                            border: none;
                                        }

                                        p {
                                            line-height: 5px;
                                            color: $color-subTitle;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .track-order {
                    padding: 20px;
                    color: #B3B9C7;

                    h5 {
                        font-size: 14px;
                        color: #B3B9C7;
                    }

                    .form-input {
                        fieldset {
                            width: 100%;
                            padding: 4px;
                            height: 50px;
                            display: flex;
                            justify-content: space-between;

                            legend {
                                color: #B3B9C7;
                                background: #111111;
                                left: 20px;
                                top: -12px;
                                font-size: 12px;
                            }

                            input {
                                margin-left: 11px;
                                width: 65%;
                                border: none;
                                background: transparent;
                                color: white;

                                &:-webkit-autofill,
                                &:-webkit-autofill:hover,
                                &:-webkit-autofill:focus,
                                &:-webkit-autofill:active,
                                &:-internal-autofill-selected,
                                &:-internal-autofill-previewed {
                                    -webkit-text-fill-color: #999;
                                    background-color: #111111 !important;
                                    -webkit-box-shadow: 0 0 0 30px #111111 inset !important;
                                }
                            }

                            .arrow-submit-btn {
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                                background-color: #B3B9C7;
                                border: none;
                                transition: 0.2s ease-in-out;

                                &:hover {
                                    scale: 1.1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .mobile {
        display: flex;

        @include xl {
            display: none;
        }

        .bottom-nav {
            position: fixed;
            bottom: 0;
            width: 100%;
            border-top: 1px solid $color-theme;
            padding: 30px 0;
            background-color: white;

            ul {
                list-style: none;
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding: 0;
                margin: 0;

                li {
                    .footerIcon {
                        border-radius: 50%;
                        height: 40px;
                        width: 40px;
                        color: $color-grey;

                        &.active {
                            border-radius: 50%;
                            padding: 20px;
                            background-color: $color-theme;
                        }

                        i {
                            font-size: 25px;
                        }
                    }
                }
            }
        }
    }
}


.d-lg-none {
    margin: -35px 0;
}

.menu-icons .menu-icon:not(.shopping-bag) {
    display: none;

    @include lg {
        display: flex;
    }
}
