<section class="testing">
    <div class="container">
        <div class="card">
            <a href="#">
                <div class="box">
                    <div class="icons">
                        <i class="fa-light fa-heart"></i>
                        <i class="fa-light fa-bag-shopping"></i>
                    </div>
                </div>
            </a>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <h1 class="number-of-reviews">(3)</h1>
            </div>
            <h1 class="product-name">Black sneakers</h1>
            <h1 class="product-price">$29.95</h1>
        </div>
    </div>
</section>