@using Manero_WebApp.ViewModels.HomeViewModels;
@{
    var categoies = new List<CategoryTileViewModel>
    {
        new CategoryTileViewModel { Title = "men", ImageUrl = "https://placehold.co/600x400" },
        new CategoryTileViewModel { Title = "woman", ImageUrl = "https://placehold.co/600x400" },
        new CategoryTileViewModel { Title = "kids", ImageUrl = "https://images.unsplash.com/photo-1535038872957-c20dea0c6f26?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" },
        new CategoryTileViewModel { Title = "accessories", ImageUrl = "https://images.unsplash.com/photo-1577744486770-020ab432da65?auto=format&fit=crop&q=80&w=1935&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" },
        new CategoryTileViewModel { Title = "dresses", ImageUrl = "https://images.unsplash.com/photo-1628705077470-21ff5a207b47?auto=format&fit=crop&q=80&w=1980&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" },
        new CategoryTileViewModel { Title = "shoes", ImageUrl = "https://images.unsplash.com/photo-1543508282-6319a3e2621f?auto=format&fit=crop&q=80&w=2030&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" },
        new CategoryTileViewModel { Title = "t-shirts", ImageUrl = "https://placehold.co/600x400" },
        new CategoryTileViewModel { Title = "sweaters", ImageUrl = "https://placehold.co/600x400" },
        new CategoryTileViewModel { Title = "pants", ImageUrl = "https://placehold.co/600x400" },
    };
}

<partial name="/Views/Partials/FullScreenComponents/Navbars/_TopNavbar.cshtml" />

<div class="d-flex flex-nowrap gap-1 overflow-auto my-3 justify-content-xl-center">
    @foreach (var item in categoies)
    {
        <a href="#" class="category-filter-button">@item.Title</a>
    }
</div>


<div class="category-tile-container">
    @foreach (var item in categoies)
    {
        <a href="" class="category-tile">
            <img class="category-tile-image" src="@item.ImageUrl" alt="@item.Title">
            <div class="position-absolute bottom-0 start-0 p-2 m-2 z-4">
                <h2 class="text-capitalize text-white fw-bold fs-4">@item.Title</h2>
            </div>
        </a>
    }
</div>
