$color-theme: #DBE3F5; 
$color-grey: #626262;
$color-dark: #111111;
$color-white: #FFFFFF;

// For price, Order Failed, Order History shopping cart,
$color-red: #F4303C;
$color-yellow: #FFBE00;

// For check, succesful
$color-green: #00824B;

// For Category
$color-category: #8D94A6;

// Only for Promo codes
$color-yellow: #EF962D;

// For Filter page
$filter-pink: #FF6262;
$filter-blue: #63C7FF;
$filter-beige: #F8E7CD;
$filter-navy: #323858;
$filter-black: #111111;

$color-sale: #69864D;
$color-new: #CFA93F;
$color-top: #864D7D;

// For Payment Method page
$card-1: #7E4875;
$card-1: #69864D;
$card-1: #1F7A8B;


// For sign in, sign up
$facebook-color: #3B5999;
$twitter-color: #55ACEE;
$google-color: #DD4B39;
