
@* This is just a test file for signing in and signing out. *@

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link text-dark" asp-controller="Account" asp-controller="Account" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Logout">LOGOUT</a>
    </li>
}
else
{
     <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-controller="Login" asp-action="Index">Login</a>
    </li> 
}
</ul>
