<!-- Password form input -->
<div class="form-input">
    <fieldset>
        <legend>Password</legend>
        <input type="password" id="password" name="password">
        <i id="password-input-icon" class="icon fa-light fa-eye-slash" onclick="toggleVisibility()"></i>
    </fieldset>
</div>