<span class="icon-error validate-icon d-none">
    <i class="fa-regular fa-x"></i>
</span>
<span class="icon-success validate-icon d-none">
    <i class="fa-regular fa-check"></i>
</span>
﻿<p class="errormsg mt-2"></p>