@{
    ViewData["UserName"] = ViewData["FullName"];
    ViewData["UserEmail"] = ViewData["Email"];
    ViewData["pageTitle"] = "My Profile";
}

<partial name="/Views/Partials/FullScreenComponents/Navbars/_TopNavbar.cshtml" />

<section class="profilePage">
    <div class="personalInfo">
        <div class="vertical-line"></div>
        <partial name="/Views/Partials/SmallComponents/Icons/_ProfilePicFrame.cshtml" />        
        <p class="userName">@ViewData["UserName"]</p>
        <p class="userEmail">@ViewData["UserEmail"]</p>
    </div>
    <div class="navigation">
        <div class="navItemContainer">
            <a asp-controller="Account" asp-action="OrderHistory" class="navItem">
                <i class="fa-light fa-calendar"></i>
                <p>Order history</p>
                <i class="fa-light fa-chevron-right"></i>
            </a>
            <a asp-controller="Account" asp-action="PaymentMethod" class="navItem">
                <i class="fa-light fa-credit-card-blank"></i>
                <p>Payment method</p>
                <i class="fa-light fa-chevron-right"></i>
            </a>
            <a asp-controller="Account" asp-action="MyAdress" class="navItem">
                <i class="fa-light fa-location-dot"></i>
                <p>My address</p>
                <i class="fa-light fa-chevron-right"></i>
            </a>
            <a asp-controller="Account" asp-action="MyPromocodes" class="navItem">
                <i class="fa-light fa-gift"></i>
                <p>My promocodes</p>
                <i class="fa-light fa-chevron-right"></i>
            </a>
            <a asp-controller="Account" asp-action="Logout" class="navItem">
                <i class="fa-light fa-arrow-right-from-bracket"></i>
                <p>Sign out</p>
                <i class="fa-light fa-chevron-right"></i>
            </a>

        </div>
    </div>
</section>
<partial name="/Views/Partials/FullScreenComponents/Footer/_Footer.cshtml" />

