<div class="Showcase">
    <div class="container">
         @* Remove inline styling and add image *@
        <img style="width: 375px; height: 300px; background-color: lightblue;" />
        <h1>Welcome to<br /> Manero! <br /> 50% off</h1>
    </div>
</div>
