<div class="Showcase-mobile">
    <div class="container">
        <img src="https://placehold.co/375x300">
        <h1>Welcome to<br /> Manero! <br /> 50% off</h1>
    </div>
</div>

<div class="Showcase-desktop">
    <div class="container">
        <img src="https://placehold.co/800x600">
        <h1>Welcome to<br /> Manero! <br /> 50% off</h1>
    </div>
</div>
