﻿<section class="bestsellers-mobile">
    <div class="container">
        <div class="category">
            <h2>Best sellers</h2>
            <a href="#">view all<i class="fa-solid fa-chevron-right ms-2"></i></a>
        </div>
        <div class="products">
            <img class="product-card" src="https://placehold.co/200x250" alt="Product 1">
            <img class="product-card" src="https://placehold.co/200x250" alt="Product 2">
            <img class="product-card" src="https://placehold.co/200x250" alt="Product 3">
            <img class="product-card" src="https://placehold.co/200x250" alt="Product 3">
            <img class="product-card" src="https://placehold.co/200x250" alt="Product 3">
        </div>
    </div>
</section>

<section class="bestsellers-desktop">
    <div class="container">
        <div class="category">
            <h2>Best sellers</h2>
            <a href="#">view all<i class="fa-solid fa-chevron-right ms-2"></i></a>
        </div>
        <div class="products">
            <img class="product-card" src="https://placehold.co/300x375" alt="Product 1">
            <img class="product-card" src="https://placehold.co/300x375" alt="Product 2">
            <img class="product-card" src="https://placehold.co/300x375" alt="Product 3">
            <img class="product-card" src="https://placehold.co/300x375" alt="Product 4">
            <img class="product-card" src="https://placehold.co/300x375" alt="Product 5">
        </div>
    </div>
</section>
