@using Manero_WebApp.ViewModels.WishlistViewModels;
@model Manero_WebApp.ViewModels.WishlistViewModels.WishlistViewModel
@{
    ViewData["Title"] = "Wishlist";
}

<partial name="/Views/Partials/FullScreenComponents/Navbars/_TopNavbar.cshtml" />



<div class="wishlist">
    <div class="container">
        <h1>Wishlist</h1>

        <div class="p-cards">
            <div class="products">
                @foreach (var product in Model.Products)
        {
            <h2>
                @product.Name
            </h2>
        }
            </div>
        </div>
    </div>
</div>