@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap");
@media (min-width: 1200px) {
  .mobile-top-navbar {
    display: none;
  }
}
.mobile-top-navbar .container {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 10px 10px;
}
.mobile-top-navbar .container .bars-menu {
  border: none;
  background-color: transparent;
  font-size: 25px;
}
.mobile-top-navbar .container .mobile-menu-open {
  left: 0 !important;
}
.mobile-top-navbar .container .slideout-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -4;
  background-color: black;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.mobile-top-navbar .container .slideout-open {
  z-index: 4;
  opacity: 0.4;
}
.mobile-top-navbar .container .slideout-menu {
  position: absolute;
  left: -270px;
  background-color: black;
  color: #FFFFFF;
  padding: 20px 0;
  min-height: 100vh;
  width: 270px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s ease-in-out;
}
.mobile-top-navbar .container .slideout-menu .upper-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.mobile-top-navbar .container .slideout-menu .upper-section .close-btn {
  text-align: center;
  color: white;
  font-size: 25px;
  width: 50px;
  align-self: end;
  background-color: transparent;
  border: none;
}
.mobile-top-navbar .container .slideout-menu .upper-section .contact-info {
  display: flex;
  flex-direction: column;
}
.mobile-top-navbar .container .slideout-menu .upper-section .contact-info h1 {
  font-size: 22px;
  margin-bottom: 20px;
  padding: 0 20px;
}
.mobile-top-navbar .container .slideout-menu .upper-section .contact-info .info-box {
  display: flex;
  gap: 10px;
  padding: 0 20px;
}
.mobile-top-navbar .container .slideout-menu .upper-section .contact-info .info-box .icon {
  min-width: 30px;
  height: 30px;
  border: 1px solid RGBA(219, 227, 245, 0.3);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-top-navbar .container .slideout-menu .upper-section .contact-info .info-box p {
  color: #B3B9C7;
  margin-bottom: 0;
}
.mobile-top-navbar .container .slideout-menu .upper-section .contact-info hr {
  margin: 16px 0;
}
.mobile-top-navbar .container .shopping-cart-menu {
  border: none;
  font-size: 25px;
  background-color: transparent;
  transition: 0.2s ease-in-out;
  position: relative;
}
.mobile-top-navbar .container .shopping-cart-menu .badge-pill {
  position: absolute;
  background-color: red;
  padding: 3px 5px;
  left: -10px;
  bottom: 0px;
  font-size: 10px;
}
.mobile-top-navbar hr {
  color: #8C93A7;
  margin: 0;
}

.desktop-top-navbar {
  margin-top: 15px;
}
@media (max-width: 1200px) {
  .desktop-top-navbar {
    display: none;
  }
}
.desktop-top-navbar .container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 200px;
  grid-template-rows: 1fr 1fr;
  row-gap: 20px;
}
.desktop-top-navbar .container .logo {
  grid-column: 1;
  grid-row: 1;
  font-size: 30px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.desktop-top-navbar .container .info-box {
  display: flex;
  gap: 20px;
  padding: 0 20px;
}
.desktop-top-navbar .container .info-box .vertical-line {
  border: 1px solid #DBE3F5;
}
.desktop-top-navbar .container .info-box .icon {
  min-width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.842);
  border-radius: 50%;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.desktop-top-navbar .container .info-box p {
  color: black;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
}
.desktop-top-navbar .container .icons {
  display: flex;
  justify-content: end;
}
.desktop-top-navbar .container .icons .shopping-cart {
  border: none;
  font-size: 25px;
  background-color: transparent;
  transition: 0.2s ease-in-out;
  position: relative;
  margin-top: -6px;
}
.desktop-top-navbar .container .icons .shopping-cart .badge-pill {
  position: absolute;
  background-color: red;
  padding: 3px 5px;
  left: -10px;
  bottom: 0px;
  font-size: 10px;
}
.desktop-top-navbar .container .icons button:hover {
  scale: 1.2;
}
.desktop-top-navbar .container .icons .search-form {
  display: flex;
  margin-right: 10px;
}
.desktop-top-navbar .container .icons .search-form #navbar-search {
  border: 1px solid #A5A5A5;
  padding: 0px 10px;
  margin-bottom: 2px;
  margin-left: -20px;
  transition: 0.5s ease-in-out;
  border-radius: 10px;
  width: 0px;
  opacity: 0;
  font-size: 16px;
  font-weight: 100;
  height: 35px;
  align-self: center;
}
.desktop-top-navbar .container .icons .search-form #navbar-search:focus {
  outline: none;
  box-shadow: 0 3px 10px rgb(126, 126, 126);
}
.desktop-top-navbar .container .icons .search-form .search-expanded {
  width: 200px !important;
  margin-left: 0px !important;
  opacity: 1 !important;
}
.desktop-top-navbar .container .icons .search-form .navbar-search-btn {
  border: none;
  background: none;
}
.desktop-top-navbar .container .icons .search-form .navbar-search-btn i {
  text-decoration: none;
  color: black;
  transition: 0.2s ease-in-out;
  font-size: 20px;
}
.desktop-top-navbar .container .icons .search-form .navbar-search-btn i:hover {
  scale: 1.2;
  color: #FA3150 !important;
}
.desktop-top-navbar .container .page-links {
  grid-column: 2/5;
  grid-row: 2;
  display: flex;
  gap: 20px;
}
.desktop-top-navbar .container .page-links a {
  text-decoration: none;
  color: black;
  transition: 0.2s ease-in-out;
}
.desktop-top-navbar .container .page-links a:hover {
  scale: 1.2;
}
.desktop-top-navbar hr {
  color: #8C93A7;
  margin: 0;
}

footer {
  background-color: #111111;
  padding-top: 70px;
}
footer .container .content {
  display: flex;
  flex-wrap: wrap;
  color: #FFFFFF;
}
@media (min-width: 1400px) {
  footer .container .content {
    display: grid;
    grid-template-columns: 4fr 2fr 2fr 1fr;
  }
}
footer .container .content .footer-columns {
  padding: 0 15px;
  width: 100%;
}
@media (min-width: 768px) {
  footer .container .content .footer-columns {
    width: 50%;
  }
}
@media (min-width: 992px) {
  footer .container .content .footer-columns {
    padding: 0;
    margin: 0;
    width: 190px;
    height: 250px;
    padding: 0 30px;
  }
}
footer .container .content .footer-columns .heading {
  font-size: 26px;
  font-weight: 700;
  color: white;
}
footer .container .content .footer-columns p {
  width: 300px;
  padding-top: 10px;
}
footer .container .content .footer-columns .subscribe-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 300px;
}
footer .container .content .footer-columns .subscribe-form .input-button-box {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}
footer .container .content .footer-columns .subscribe-form .input-button-box input {
  border: 1px solid #ccc;
  border-radius: 30px;
  height: 50px;
  width: 300px;
  padding: 0 20px;
  margin: 10px 0;
}
@media (min-width: 1400px) {
  footer .container .content .footer-columns .subscribe-form .input-button-box input {
    width: 400px;
  }
}
footer .container .content .footer-columns .subscribe-form .input-button-box button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  margin-left: -50px;
  margin-top: 0px;
}
footer .container .content .footer-columns .subscribe-form .input-button-box button i {
  color: #F4303C;
}
footer .container .content .footer-columns ul {
  list-style-type: none;
  padding: 0;
  line-height: 37px;
}
footer .container .content .footer-columns ul a {
  color: #FFFFFF;
}
footer .container .content .footer-columns ul a:hover {
  padding-left: 8px;
  color: #F4303C;
}
footer .copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 15px;
  color: white;
}
footer .copyright p i {
  margin-right: 5px;
}
footer .copyright .social-media {
  padding-left: 40px;
}
footer .copyright .social-media a {
  color: white;
  font-size: 18px;
  margin-left: 15px;
}
