@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="login-section">
    <!-- Top section -->
    <div class="top-section">
        <a asp-controller="Home" asp-action="Index" class="item left">
            <i class="fa-solid fa-less-than"></i>
        </a>
        <p class="item middle">Sign in</p>
    </div>

    <!-- Vertical Black line -->
    <div class="black-line">
    </div>

    <!-- Big text -->
    <div class="big-text">
        <h3>Welcome Back!</h3>
        <p>Sign in to continue</p>
    </div>

    <form method="post" action="">
        <div asp-validation-summary="ModelOnly" class="text-danger error-message"></div>
        <partial name="~/Views/Partials/Forms/EmailFormInput.cshtml" />
        <partial name="~/Views/Partials/Forms/PasswordFormInput.cshtml" />
        <div class="remember-me">
            <label>
                <input type="checkbox" id="rememberMe">
                <div class="checkbox-box"></div>
                Remember me
            </label>

            <a href="#">Forgot password?</a>
        </div>

        <button class="btn-large btn-sign-in" type="submit">SIGN IN</button>
    </form>

    <!-- Sign up -->
    <div class="sign-up">
        <p>Don't have an account?</p>
        <a href="#">Sign up.</a>
    </div>

    <!-- External links -->
    <div class="social-links">
        <a href="" class="customSocialIcon">
            <i class="fa-brands fa-facebook-f" style="color: #3B5999;"></i>
        </a>
        <a href="#" class="customSocialIcon">
            <i class="fa-brands fa-twitter" style="color: #55ACEE;"></i>
        </a>
        <a href="#" class="customSocialIcon">
            <i class="fa-brands fa-google-plus-g" style="color: #DD4B39;"></i>
        </a>
    </div>
</div>
