<partial name="/Views/Partials/FullScreenComponents/Navbars/_TopNavbar.cshtml" />


@model List<ProductModel>
@* @foreach (var products in Model)
{
	<partial name="/Views/Partials/SmallComponents/ProductCards/_ProductCardBestSeller.cshtml" model="products" />

} *@


﻿<section class="bestsellers-mobile mb-5 mt-2">
    <div class="container">
        <a class="btn-add" asp-action="Index" asp-controller="AddOrEdit">Add product</a>
        <div class="category mt-3">
            <h2>All Products</h2>
            <a asp-controller="Shop" asp-action="Index">view all<i class="fa-solid fa-chevron-right ms-2"></i></a>
        </div>
        <div class="products">
            @foreach (var product in Model)
            {
                <div class="product-card">
                    <partial name="~/Views/Partials/SmallComponents/ProductCards/_ProductCardBestSeller.cshtml" model="product" />
                </div>
            }
        </div>
    </div>
</section>

<section class="bestsellers-desktop mb-5 mt-2">
    <div class="container">
        <a class="btn-add" asp-action="addOrEdit" asp-controller="products">Add product</a>

        <div class="category mt-3">
            <h2>All Products</h2>
            <a asp-controller="Shop" asp-action="Index">view all<i class="fa-solid fa-chevron-right ms-2"></i></a>
        </div>
        <div class="products">
            @foreach (var product in Model)
            {
                <div class="product-card">
                    <partial name="~/Views/Partials/SmallComponents/ProductCards/_ProductCardBestSeller.cshtml" model="product" />
                </div>
            }
        </div>
    </div>
</section>

<partial name="/Views/Partials/FullScreenComponents/Footer/_Footer.cshtml" />
