.testing {
    display: flex;

    .container {
        display: flex;
        gap: 50px;

        .card {
            display: flex;
            width: 200px;
            border: none;

            a {
                text-decoration: none;

                .box {
                    background-color: aqua;
                    height: 250px;
                    width: 200px;
                    display: flex;
                    justify-content: flex-end;
                    position: relative;

                    .icons {
                        margin-right: 10px;
                        display: none;

                        i {
                            font-size: 15px;
                            color: gray;
                            display: block;
                            margin-left: 10px;
                            margin-top: 10px;
                            transition: ease-in-out 0.3s;
                        }
                    }

                    &:hover .icons {
                        display: block;
                        text-decoration: none;
                    }
                }
            }

            .rating {
                display: flex;
                margin-top: 15px;
                text-align: center;

                i {
                    font-size: 12px;
                    color: yellow;
                }
            }

            .number-of-reviews {
                font-size: 12px;
                margin-left: 5px;
            }

            .product-name {
                font-size: 14px;
            }

            .product-price {
                font-size: 14px;
            }
        }
    }
    // Visar iconerna på mobilen
    @media (max-width: 768px) {
        .container {
            .card {
                a {
                    .box {
                        .icons {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    // Hover effekt på storskärm
    @media (min-width: 769px) {
        .container {
            .card {
                a {
                    .box:hover .icons {
                        display: block;
                    }
                }
            }
        }
    }
}
