.testing5 {

  
    .container {

  
      .card {
        display: flex;
        border: none;
  
        a {
          text-decoration: none;
  
          .box {
            background-color: aqua;
            height: 170px;
            width: 160px;
            display: flex;
            justify-content: flex-end;
            position: relative;
  
            .icons {
              margin-right: 10px;
              text-decoration: none;
  
              i {
                font-size: 15px;
                color: gray;
                margin-left: 10px;
                margin-top: 10px;
                transition: ease-in-out 0.3s;
                display: block;
  
                @media (min-width: 769px) {
                  display: none; 
                  
                }
              }
            }
  
            @media (min-width: 769px) {
              &:hover .icons i {
                display: block; 
                
              }
            }
          }
        }
  
        .rating {
          display: flex;
          margin-top: 15px;
          text-align: center;
  
          i {
            font-size: 12px;
            color: yellow;
          }
        }
  
        .number-of-reviews {
          font-size: 12px;
          margin-left: 5px;
        }
  
        .product-name {
          font-size: 14px;
        }
  
        .product-price {
          font-size: 14px;
        }
      }
    }
  }
  