<footer class="d-none d-lg-block">
    <div class="container">
        <div class="content">

            <div class="footer-columns">
                <h5 class="heading">Subscribe</h5>
                <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                <div class="subscribe-form">
                    <div class="input-button-box">
                        <input type="email" placeholder="Enter email here">
                        <button class="subscribe-button"><i class="fas fa-paper-plane"></i></button>
                    </div>
                </div>
            </div>


            <div class="footer-columns">
                <h5 class="heading">Company</h5>
                <ul>
                    <li><a asp-controller="company" asp-action="about">About</a></li>
                    <li><a asp-controller="company" asp-action="contact">Contact</a></li>
                    <li><a asp-controller="company" asp-action="career">Career</a></li>
                </ul>
            </div>

            <div class="footer-columns">
                <h5 class="heading">Support</h5>
                <ul>
                    <li><a asp-controller="support" asp-action="faqs">FAQs</a></li>
                    <li><a asp-controller="support" asp-action="shipping">Shipping</a></li>
                    <li><a asp-controller="support" asp-action="returns">Returns</a></li>
                    <li><a asp-controller="´support" asp-action="orderStatus">Order Status</a></li>
                </ul>
            </div>

            <div class="footer-columns">
                <h5 class="heading">Account</h5>
                <ul>
                    <li><a asp-controller="account" asp-action="profile">Profile</a></li>
                    <li><a asp-controller="account" asp-action="myAccount">My account</a></li>
                    <li><a asp-controller="account" asp-action="prefrences">Prefrences</a></li>
                    <li><a asp-controller="account" asp-action="purchase">Purchase</a></li>
                </ul>
            </div>
        </div>

        <div class="copyright">
            <p><i class="fa fa-copyright"></i>2023 Manero. All Rights Reserved.</p>
            <div class="social-media">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
    </div>
</footer>