<!-- Kontot skapat bild 10 -->

<section class="account-popup">
    <div class="container">
        <img src="./Images/Popup/logo.png">
        <div class="content">
            <img src="./Images/Popup/accountcreatedimg.png">
            <div class="upwardsline"></div>
            <div class="infotext">
                <h1>Account Created!</h1>
                <h2>Your account had beed created successfully.</h2>
            </div>
            <button class="btn">SHOP NOW</button>
        </div>
    </div>
</section>