<!-- Byta lösen bild 7 -->
<section class="changepasswordpopup">
    <div class="container">
        <img src="./Images/Popup/logo.png">
        <div class="content">
            <img src="~/Images/Popup/passwordimg.png">
            <div class="upwardsline"></div>
            <div class="infotext">
                <h1>Your password has been reset!</h1>
                <h2>Qui ex aute ipsum duis. Incididunt adipisicing voluptate laborum</h2>
            </div>
            <button class="btn">DONE</button>
        </div>
    </div>
</section>