<!-- Order Success bild 39 -->

<section class="success-popup">
    <div class="container">
        <img src="./Images/Popup/logo.png">
        <div class="content">
            <img src="./Images/Popup/ordersuccesspopupimg.png">
            <div class="upwardsline"></div>
            <div class="infotext">
                <h1>Thank you for your order!</h1>
                <h2>Your order will be delivered on time. Thank you!</h2>
            </div>
            <button class="btn">SHOP NOW</button>
            <a href="#">Continue Shopping</a>
        </div>
    </div>
</section>