<!-- Order failed bild 40 -->

<section class="failed-popup">
    <div class="container">
        <img src="./Images/Popup/logo.png">
        <div class="content">
            <img src="./Images/Popup/orderfailedpopupimg.png">
            <div class="upwardsline"></div>
            <div class="infotext">
                <h1>Sorry! Your order has failed!</h1>
                <h2>Something went wrong. Please try again to contimue your order.</h2>
            </div>
            <button class="btn">TRY AGAIN</button>
            <a href="#">GO TO MY PROFILE</a>
        </div>
    </div>
</section>