<!-- Promocode bild 33 -->

<section class="promocode-popup">
    <div class="container">
        <div class="topmenu">
            <a href="#"><i class="fa-duotone fa-less-than"></i></a>
            <h1>My promocodes</h1>
        </div>
        <div class="content">
            <img src="./Images/Popup/promocodepopupimg.png">
            <div class="upwardsline"></div>
            <div class="infotext">
                <h1>Your don’t have promocodes yet!</h1>
                <h2>Qui ex aute ipsum duis. Incididunt adipisicing voluptate laborum</h2>
            </div>
            <div class="form-input">
                <fieldset>
                    <legend>Enter the voucher</legend>
                    <textarea id="comment" name="comment" rows="4" cols="50" required></textarea>
                </fieldset>
                <input type="submit" value="Submit">
            </div>
        </div>
    </div>
</section>