<!-- Review bild 20 -->
<section class="review-popup">
    <div class="container">
        <div class="topmenu">
            <a href="#"><i class="fa-duotone fa-less-than"></i></a>
            <h1>Leave a review</h1>
        </div>
        <div class="content">
            <img src="./Images/Popup/reviewpopup.png">
            <div class="upwardsline"></div>
            <div class="infotext">
                <h1>Please rate the quality of service for the order!</h1>
                <div class="stars">
                    <i class="review-star fa-solid fa-star"></i>
                    <i class="review-star fa-solid fa-star"></i>
                    <i class="review-star fa-solid fa-star"></i>
                    <i class="review-star fa-solid fa-star"></i>
                    <i class="review-star fa-solid fa-star"></i>
                </div>
                <h2>Your comments and suggestions help us improve the service quality better!</h2>
            </div>
            <div class="form-input">
                <fieldset>
                    <legend>Comment</legend>
                    <textarea id="comment" name="comment" rows="4" cols="50" required placeholder="Enter your comment"></textarea>
                </fieldset>
                <input type="submit" value="Submit">
            </div>
        </div>
    </div>
</section>