<!-- Cart bild 34 -->

<section class="cart-popup">
    <div class="container">
        <!-- Navbar in här sen -->
        <div class="content">
            <img src="./Images/Popup/shoppingcartpopupimg.png">
            <div class="upwardsline"></div>
            <div class="infotext">
                <h1>Your cart is empty!</h1>
                <h2>Looks like you haven't made your order yet.</h2>
            </div>
            <button class="btn">SHOP NOW</button>
        </div>
    </div>
</section>