<!-- Trackorder bild 30 -->

<section class="trackorder-popup">
    <div class="container">
        <div class="topmenu">
            <a href="#"><i class="fa-duotone fa-less-than"></i></a>
            <h1>Track your order</h1>
        </div>
        <div class="content">
            <img src="./Images/Popup/trackorderimg.png">
            <div class="upwardsline"></div>
            <div class="infotext">
                <h1>Your order:</h1>
                <h2>#100345</h2>
            </div>
            <div class="ordercreated">
                <div class="circle">
                    <div class="outlinecircle">
                        <div class="insidecircle"></div>
                    </div>
                    <div class="line"></div>
                </div>
                <div class="ordercreatedtext">
                    <h1 class="created">Order created</h1>
                    <h2 class="received ">We have received your order</h2>
                </div>
            </div>
            <div class="orderconfirmed">
                <div class="circle">
                    <div class="outlinecircle">
                        <div class="insidecircle"></div>
                    </div>
                    <div class="line"></div>
                </div>
                <div class="orderconfirmedtext">
                    <h1 class="orderconfirmed">Order confirmed</h1>
                    <h2 class="confirmed ">Your order has been confirmed</h2>
                </div>
            </div>
            <div class="ordershipping">
                <div class="circle">
                    <div class="outlinecircle">
                        <div class="insidecircle"></div>
                    </div>
                    <div class="line"></div>
                </div>
                <div class="ordershippingtext">
                    <h1 class="ordershipping">Order shipping</h1>
                    <h2 class="ordershippingtime ">Estimated for Feb 02, 2022</h2>
                </div>
            </div>
            <div class="orderdelivery">
                <div class="circle">
                    <div class="outlinecircle">
                        <div class="insidecircle"></div>
                    </div>
                    <div class="line"></div>
                </div>
                <div class="orderdeliverytext">
                    <h1 class="orderdelivery">Courier delivering</h1>
                    <h2 class="orderdeliverytime ">Estimated for Feb 05, 2022</h2>
                </div>
            </div>
            <div class="orderreceving">
                <div class="circle">
                    <div class="outlinecircle">
                        <div class="insidecircle"></div>
                    </div>
                </div>
                <div class="orderrecevingtext">
                    <h1 class="orderreceving">Receiving</h1>
                    <h2 class="orderrecevingtime ">Estimated for Feb 05, 2022</h2>
                </div>
            </div>
        </div>
    </div>
</section>