
//Core
@import "./core/_colors.scss";
@import "./core/_fonts.scss";
@import "./core/_mixins.scss";
@import "./global/_utilities.scss";
@import "./core/buttons";


//Global



//Product Cards
@import "components/productcards/_bestSellerProductCardV1.scss";
@import "components/productcards/_bestSellerProductSaleCardV1.scss";
@import "components/productcards/_featuredProductCardV1.scss";
@import "components/productcards/_featuredProductSaleCardV1.scss";
@import "components/productcards/_featuredProductCardV2.scss";
@import "components/productcards/_featruedProductSaleCardV2.scss";
@import "components/productcards/_bestSellerSmallProductCard.scss";
@import "components/productcards/_bestSellerSmallSaleCard.scss"; 

//Components
@import "./components/_customIcons.scss";
@import "./components/_topNavbar.scss";
@import "./components/_footer.scss";
@import "./components/_decisionModal.scss";
@import "./components/_forms.scss";
@import './components/_ShowCase.scss';
@import './components/_BestSellers.scss';
@import './components/_SaleComponent.scss'; 
@import './components/_FeaturedProducts.scss';
@import './components/signIn';
@import "./components/_reviewCard.scss";
@import "./components/shop";
@import "./components/_categoryTile.scss";
@import "./components/_shoppingBag.scss";
@import "./components/_onboarding.scss";
@import "./components/_userProfile.scss";
@import "./components/_ProductDetails.scss";

@import "./components/_productForm.scss";

@import "./components/_changePasswordPopup.scss";
@import "./components/_accountCreatedPopup.scss";
@import "./components/_orderFailedPopup.scss";
@import "./components/_orderSuccessPopup.scss";
@import "./components/_promocodePopup.scss";
@import "./components/_reviewPopup.scss";
@import "./components/_shoppingCartPopup.scss";
@import "./components/_trackOrderPopup.scss";
@import "./components/_ProductCards.scss";
@import "./components/_addAddress.scss";
@import "./components/_myAddress.scss";
@import "./components/_wishlist.scss";
