
//Core
@import "./core/_colors.scss";
@import "./core/_fonts.scss";
@import "./core/_mixins.scss";
@import "./global/_utilities.scss";
@import "./core/buttons";


//Global



//Product Cards
@import "components/productcards/_bestSellerProductCardV1.scss";
@import "components/productcards/_bestSellerProductSaleCardV1.scss";
@import "components/productcards/_featuredProductCardV1.scss";
@import "components/productcards/_featuredProductSaleCardV1.scss";
@import "components/productcards/_featuredProductCardV2.scss";
@import "components/productcards/_featruedProductSaleCardV2.scss";
@import "components/productcards/_bestSellerSmallProductCard.scss";
@import "components/productcards/_bestSellerSmallSaleCard.scss";

//Components
@import "./components/_customIcons.scss";
@import "./components/_topNavbar.scss";
@import "./components/_footer.scss";
@import "./components/_decisionModal.scss";
@import "./components/_forms.scss";
@import './components/_ShowCase.scss';
@import './components/_BestSellers.scss';
@import './components/_SaleComponent.scss'; 
@import './components/_FeaturedProducts.scss';
@import './components/signIn';
@import "./components/_reviewCard.scss";
@import "./components/_shoppingBag.scss";
@import "./components/_onboarding.scss";
@import "./components/_ProductDetails.scss";
