<section>
    <div class="container mb-2">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="fw-bold">Featured products</h2>
            <a class="text-decoration-none text-black" href="#">view all<i class="fa-solid fa-chevron-right ms-2"></i></a>
        </div>
    </div>
    <div class="products-container ms-2">
        <div>
            <div class="bg-primary p-5">
                placeholder
            </div>
            <p>Summer dress</p>
            <p>$42.89</p>
        </div>
        <div>
            <div class="bg-primary p-5">
                placeholder
            </div>
            <p>Summer dress</p>
            <p>$42.89</p>
        </div>
        <div>
            <div class="bg-primary p-5">
                placeholder
            </div>
            <p>Summer dress</p>
            <p>$42.89</p>
        </div>
        <div>
            <div class="bg-primary p-5">
                placeholder
            </div>
            <p>Summer dress</p>
            <p>$42.89</p>
        </div>
    </div>
</section>


<script src="~/js/FeaturedProductsSlider.js"></script>
