@using Manero_WebApp.ViewModels.HomeViewModels;
@model Manero_WebApp.ViewModels.HomeViewModels.FeaturedProductViewModel;

<section class="featured-mobile mb-5 mt-4">
    <div class="container">
        <div class="category">
            <h2>Featured products</h2>
            <a href="#">view all<i class="fa-solid fa-chevron-right ms-2"></i></a>
        </div>
        <div class="products">
            @foreach (var product in Model.Products)
            {
                <div class="product-card-small">
                    <partial name="~/Views/Partials/SmallComponents/ProductCards/_ProductCardBestSeller.cshtml" model="product" />
                </div>
            }
        </div>
    </div>
</section>

<section class="featured-desktop mb-5 mt-4">
    <div class="container">
        <div class="category">
            <h2>Featured products</h2>
            <a href="#">view all<i class="fa-solid fa-chevron-right ms-2"></i></a>
        </div>
        <div class="products">
            @foreach (var product in Model.Products)
            {
                <div class="product-card-small">
                    <partial name="~/Views/Partials/SmallComponents/ProductCards/_ProductCardBestSeller.cshtml" model="product" />
                </div>
            }
        </div>
    </div>
</section>



@* DRAG FUNCTION *@
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const sliders = document.querySelectorAll(".products");

        sliders.forEach(slider => {
            let isDown = false;
            let startX;
            let scrollLeft;

            slider.addEventListener('mousedown', (e) => {
                isDown = true;
                slider.classList.add('active');
                startX = e.pageX - slider.offsetLeft;
                scrollLeft = slider.scrollLeft;
            });

            slider.addEventListener('mouseleave', () => {
                isDown = false;
                slider.classList.remove('active');
            });

            slider.addEventListener('mouseup', () => {
                isDown = false;
                slider.classList.remove('active');
            });

            slider.addEventListener('mousemove', (e) => {
                if (!isDown) return;
                e.preventDefault();
                const x = e.pageX - slider.offsetLeft;
                const walk = (x - startX) * 1;
                slider.scrollLeft = scrollLeft - walk;
            });
        });
    });
</script>