<!-- Best seller produkt kort -->
<section class="testing">
    <div class="container">
        <div class="card">
            <a href="#">
                <div class="box">
                    <div class="icons">
                        <i class="fa-light fa-heart"></i>
                        <i class="fa-light fa-bag-shopping"></i>
                    </div>
                </div>
            </a>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <h1 class="number-of-reviews">(3)</h1>
            </div>
            <h1 class="product-name">Black sneakers</h1>
            <h1 class="product-price">$29.95</h1>
        </div>
    </div>
</section>

<!-- Best seller produkt sale kort-->
<section class="testing2">
    <div class="container">
        <div class="card">
            <a href="#">
                <div class="box">
                    <div class="salebox">
                        <h1 class="text">SALE</h1>
                    </div>
                    <div class="icons">
                        <i class="fa-light fa-heart"></i>
                        <i class="fa-light fa-bag-shopping"></i>
                    </div>
                </div>
            </a>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <h1 class="number-of-reviews">(3)</h1>
            </div>
            <h1 class="product-name">Black sneakers</h1>
            <div class="product-prices">
                <h1 class="product-price">$29.95</h1>
                <h1 class="product-discount-price">$15.98</h1>
            </div>
        </div>
    </div>
</section>


<!-- Featured produkt kort -->

<section class="testing3">
    <div class="container">
        <div class="card">
            <a href="#">
                <div class="box">
                    <div class="icons">
                        <i class="fa-light fa-heart"></i>
                        <i class="fa-light fa-bag-shopping"></i>
                    </div>
                </div>
            </a>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <h1 class="number-of-reviews">(3)</h1>
            </div>
            <h1 class="product-name">Black sneakers</h1>
            <h1 class="product-price">$29.95</h1>
        </div>
    </div>
</section>

<!-- Featured produkt sale kort-->
<section class="testing4">
    <div class="container">
        <div class="card">
            <a href="#">
                <div class="box">
                    <div class="salebox">
                        <h1 class="text">SALE</h1>
                    </div>
                    <div class="icons">
                        <i class="fa-light fa-heart"></i>
                        <i class="fa-light fa-bag-shopping"></i>
                    </div>
                </div>
            </a>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <h1 class="number-of-reviews">(3)</h1>
            </div>
            <h1 class="product-name">Black sneakers</h1>
            <div class="product-prices">
                <h1 class="product-price">$29.95</h1>
                <h1 class="product-discount-price">$15.98</h1>
            </div>
        </div>
    </div>
</section>


<!-- Featured produkt kort för bild 14 home v2 -->

<section class="testing5">
    <div class="container">
        <div class="card">
            <a href="#">
                <div class="box">
                    <div class="icons">
                        <i class="fa-light fa-heart"></i>
                        <i class="fa-light fa-bag-shopping"></i>
                    </div>
                </div>
            </a>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <h1 class="number-of-reviews">(3)</h1>
            </div>
            <h1 class="product-name">Black sneakers</h1>
            <h1 class="product-price">$29.95</h1>
        </div>
    </div>
</section>

<!-- Featured produkt sale kort för bild 14 home v2-->
<section class="testing6">
    <div class="container">
        <div class="card">
            <a href="#">
                <div class="box">
                    <div class="salebox">
                        <h1 class="text">SALE</h1>
                    </div>
                    <div class="icons">
                        <i class="fa-light fa-heart"></i>
                        <i class="fa-light fa-bag-shopping"></i>
                    </div>
                </div>
            </a>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <h1 class="number-of-reviews">(3)</h1>
            </div>
            <h1 class="product-name">Black sneakers</h1>
            <div class="product-prices">
                <h1 class="product-price">$29.95</h1>
                <h1 class="product-discount-price">$15.98</h1>
            </div>
        </div>
    </div>
</section>


<!-- Bestsellersmall produkt kort för bild 14 home v2 -->

<section class="testing7">
    <div class="container">
        <div class="card">
            <a href="#">
                <div class="box"></div>
            </a>
        </div>
        <div class="sideinfo">
            <div class="toptext">
                <h1 class="product-name">Black sneakers</h1>
                <i class="heart fa-light fa-heart"></i>
            </div>
            <h1 class="product-price">$29.95</h1>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <h1 class="number-of-reviews">(3)</h1>
            </div>
        </div>
    </div>
</section>

<!-- Bestsellerdiscount produkt kort för bild 14 home v2 -->

<section class="testing8">
    <div class="container">
        <div class="card">
            <a href="#">
                <div class="box">
                    <div class="salebox">
                        <h1 class="text">SALE</h1>
                    </div>
                </div>
            </a>
        </div>
        <div class="sideinfo">
            <div class="toptext">
                <h1 class="product-name">Black sneakers</h1>
                <i class="heart fa-light fa-heart"></i>
            </div>
            <div class="product-prices">
                <h1 class="product-price">$29.95</h1>
                <h1 class="product-discount-price">$15.98</h1>
            </div>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <h1 class="number-of-reviews">(3)</h1>
            </div>
        </div>
    </div>
</section>