<!-- 23 Profile Picture Frame -->
<div class="customIcon">
    <div class="profilePictureBorder">
        <a href="" class="customIconEdit">
            <i class="fa-light fa-pen"></i>
        </a>
        <div class="customIconProfile">
            <img src="" alt="">
        </div>
    </div>
</div>
